{% extends "base.html" %}

{% block content %}

<div class="card shadow-sm">
    <div class="card-body">

        <h3 class="mb-4">Formularz projektu</h3>

        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <div class="d-flex justify-content-between">
                <a href="{% url 'project_list' %}" class="btn btn-secondary">
                    Anuluj
                </a>

                <button type="submit" class="btn btn-primary">
                    Zapisz
                </button>
            </div>

        </form>

    </div>
</div>

{% endblock %}